<div id="About" class="navcontent tabcontent-nav">
  <div class="col-md-6">
      <h3>My name is Kittichote Kamalapirat. </h3>
      <p> I was 18 years old my father told me go make some friends or I'll be lonly. I was 18 years old.</p>
      <p>It was a big big wrold, but I thought I was bigger. Pushing each other to the limit la la la la l</p>
  </div>
  <%= image_tag("about", alt: "about", class: "col-md-6", id: "about-image")%>
</div>