<link rel="stylesheet">

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="snsicons">
            <%= link_to image_tag("facebook", :class => "snsicon", :alt => "Facebook", :target => "_blank"),                 
                      "https://www.facebook.com/kittichote.kamalapirat" %>
            <%= link_to image_tag("linkedin", :class => "snsicon", :alt => "LinkedIn", :target => "_blank"),                 
                      "https://www.linkedin.com/in/kittichote-kamalapirat-076aaa120/" %>  
            <%= link_to image_tag("youtube", :class => "snsicon", :alt => "Youtube", :target => "_blank"),                 
                      "https://www.youtube.com/channel/UCR1-y0yMG0onXbQXxoT8QdQ?view_as=subscriber" %> 
            <%= link_to image_tag("google", :class => "snsicon", :alt => "Google", :target => "_blank"),                 
                      "" %> 
        </div>
      </div>
      <div class="col-md-3">
      </div>
      
    </div>
  </div>
</div>