<div id="HomeTab">
  <div class="row">
    <div class="container">
      <div class="col-md-5">
        <%= image_tag( 'bike', alt: "placeholder")%>
      </div>
      <div class="col-md-4 intro">
        <h3>こんにちは、キッティです</h3>
        <p>私はグラフィックデザイナーです。私のを作品をご覧ください</p>
        </div>
    </div>
  </div>
</div>