<div id="HomeTab">
  <div class="row">
    <div class="container">
      <div class="col-md-5">
        <%= image_tag( 'bike', alt: "placeholder")%>
      </div>
      <div class="col-md-4 intro">
        <h3>Hi, My name is Kitti.</h3>
        <p>I am a graphic designer. Please check out my projects</p>
        </div>
    </div>
  </div>
</div>