<link rel="stylesheet" href="icon.css">
 <div class="snsicons">
  <ul>
   <li><a href="https://www.facebook.com/kittichote.kamalapirat"><i class="fab fa-facebook-f"></a></i></li>
   <li><a href="https://www.linkedin.com/in/kittichote-kamalapirat-076aaa120/"><i class="fab fa-linkedin-in"></a></i></li>
   <li><a href="https://www.youtube.com/channel/UCR1-y0yMG0onXbQXxoT8QdQ?view_as=subscriber"><i class="fab fa-youtube"></a></i></li>
    <div class="popup" onclick="popup()">
             <%=  image_tag("google", :class => "snsicon", :alt => "Google", :target => "_blank")%> 
  <span class="popuptext" id="myPopup">kittichoteshane@gmail.com</span> <!--<li><a href="#"><i class="fab fa-google"></a></i></li>-->
  </ul>  
</div>