<nav class="col-sm-12 navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class="right-border"><div class="tablinks-nav tablinks btn " onclick="closeKitti(); openTab(event,'HomeTab')">Home</div></li>
    <li class="right-border"><div class="tablinks-nav tablinks btn" onclick="closeKitti(); openTab(event,'ProjectsBox')">Projects</div></li>
    <li class="right-border"><div class="tablinks-nav tablinks btn" onclick="closeKitti(); openTab(event,'About')">About</div></li>
  </ul>
</nav>