<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><button class="tablinks-nav" onclick="closeKitti(); openTab(event,'HomeTab')">Home</button></li>
    <li><button class="tablinks-nav" onclick="closeKitti(); openTab(event,'ProjectsBox')">Projects</button></li>
    <li><button class="tablinks-nav" onclick="closeKitti(); openTab(event,'About')">About</button></li>
  </ul>
</nav>