<!DOCTYPE html>
<html>
<head>
	<title>Kitti Portfolio</title>
	<style type="text/css" src="port.css"></style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="container">
  
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2"><h3>Logo here</h3></div>
      <div class="col-md-9"></div>
    </div>
    
    <br></br>
    <br></br>
    
    
      <!--navbar-->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
              <li class="active"><a href="">Home</a></li>
              <li><button class="tablinks" onclick="openCity(event,'Projects')">Projects</button></li>
              <li><button class="tablinks" onclick="openCity(event,'About')">About</button></li>
              <li><a href="#">Contact</a></li>
            </ul>
        </nav>
      </div>
      
      
      
      <!--<div id="Projects" class="tabcontent">This is a project content</div>-->
      <div id="About" class="tabcontent">
          This is an about content
      </div>
      
<!--TAB-->
        <div class="col-md-9">
        
        
          <div id="Projects" class="container navcontent">
            
             <div class="tab">
          <button class="tablinks project" onclick="openCity(event, 'Logo')">Logo</button>
          <button class="tablinks project" onclick="openCity(event, 'Dog')">Dog</button>
          <button class="tablinks project" onclick="openCity(event, 'Tokyo')">Illustration</button>
          </div>  
          
          
            <div id="Logo" class="tabcontent">
                <h3>Logo Showcase</h3>
                <p>I'll put my logo design challenge 30 days here</p>
            </div>
              
            <div id="Dog" class="tabcontent">
              <h3>Dog Showcase</h3>
              <p>Paris is the capital of France.</p> 
            </div>
              
            <div id="Tokyo" class="tabcontent">
              <h3>Illustration Showcase</h3>
              <p>Tokyo is the capital of Japan.</p>
            </div>
          </div>
        </div>
      </div> 
    </div>
<!--for container row-->




<script>
function openCity(evt, project) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(project).style.display = "block";
    evt.currentTarget.className += " active";
}

function openNav(evt, project) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("navcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("navlinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(project).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

<!--TAB-->

</body>
</html>