<!DOCTYPE html>
<html>
<head>
	<title>Kitti Portfolio</title>
	<style type="text/css" src="port.css"></style>
</head>
<body>
	<h1>Hi</h1>
	<p>lalala</p>
</body>

<li>
    <ul>item1</ul>
    <ul>item2</ul>
    <ul>item13</ul>
</li>
</html>