<%=stylesheet_link_tag "projects"%>

<div id="Video" class="tabcontent-project center" style="display:none;">
  <h3 >My videos </h3>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/smSbNS2DUaQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br></br>
  <br></br>
  <br></br>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/jIUmHVBPNwg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>