<%=stylesheet_link_tag "projects"%>

<div id="Webdesign" class="tabcontent-project center" style="display:none;">
  <h3 >Web Design Showcase</h3>
  <div class="col-md-2"></div>
  <p class="col-md-8"> Wed Design is one of my most passionate field of designing. It is one of the most powerful 
  thing for a graphic designer thanks to the internet.</p>
  <div class="col-md-2"></div>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  <br></br>
  
  <h3 >Designer Crowding Website</h3>
  <br></br>
  <%= image_tag( 'webdesign/freedesign', alt: "freedesign", class: "web-design")%>
  <br></br>
  <br></br>
  <br></br>
  
  <h3 ><a href="http://tedxynu.com">TEDxYNU</a></h3>
  <br></br>
  <%= image_tag( 'webdesign/website', alt: "TEDxYNU Website", class: "web-design")%>
  <br></br>
  <br></br>
  <br></br>
  
  <h3 >Chat Application</h3>
  <br></br>
  <%= image_tag( 'webdesign/line', alt: "line", class: "web-design")%>
  <br></br>
  <br></br>
  <br></br>
  


</div>