/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

html{
  background:#E6E6E6;
}
.project{
    border-bottom: 5px RGB(204,204,204) solid;
    background: RGB(239,239,239);
    font-size: 20px;
    padding-bottom: 14px;
    cursor:pointer;
    transition: 0.5s
    
}
.active-tab{
 border-bottom: 6px orange solid;
}


.project:hover{
  opacity: 0.6;
  transition: 0s;
  // border-bottom: 6px red solid;
}
.tab{
    text-align: center;
}

.tabcontent{
    display: none;
}

.navcontent{
    display: none;
}


#mainbox{
  background: #F2F2F2;
  border-radius: 9px;
} 

.center{
  text-align:center;
}

#about-image{
    border-radius: 10%;
    padding: 0px;
    box-shadow: 5px 5px 5px RGB(156,156,156)
}


.right-border{
  border-right: 6px RGB(204,204,204) solid;
}
