 .project-icon{
    border-radius: 3px;  
    cursor: pointer;
    box-shadow: 0px 2px 5px RGB(204,204,204), -2px 0px 2px RGB(204,204,204), 2px 2px 2px RGB(204,204,204);
    height:100%;
    margin: 20px 0px;
}