 .project-icon{
    border-radius: 3px;  
    cursor: pointer;
    box-shadow: 0px 2px 5px RGB(204,204,204), -2px 0px 2px RGB(204,204,204), 2px 2px 2px RGB(204,204,204);
    height:100%;
    margin: 20px 0px;
}

.thirty{
  width: 32.33%;
  box-shadow: 3px 4px 2px RGB(204,204,204);
  margin-bottom: 12px;
}

.web-design{
  max-width: 100%;
}